@media (min-width:800px) {
    body{
        background-repeat: no-repeat;
       margin-right: 20px;
       margin-top: 10px;
       padding: 10px;
    }
 .container1 {position: relative;
text-align: center;
}   
.leftpanel
{position: absolute;
top: 100px;
left: 40px;
color: rgb(58, 65, 45);}

.button{
    position: absolute;
    bottom: 45px;
    left: 30px;
   
}
.rightpanel{position: absolute;
bottom: 8px;
right: 30px;}
    .leftbar{
        float: left;
        margin-left:10px;
    }
    .topnav {margin-top: 4px;}
    .topnav ul li{
        width: 200px;
        border: 1px;
        height: 50px;
        line-height: 40px;
        text-align: center;
        float: right;
        font-size: 18px;  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
     }
     #webpages-navigation ul{
        list-style: none;
        position: relative;
        z-index: 1000;}
        #webpages-navigation ul li:hover{
            background-color: gray;
        }
        a:link{text-decoration: none;
            color: black;
        }
        
    .topnav ul ul{display: none;}
    .topnav ul li:hover > ul{display: block;
}

h2 {font-size: 44px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.leftbar{transition: all 0.5s ease-in;}
.leftbar:hover { transform: scale(1);
}

#leftpanel{padding-top: 100px;
margin: 0 25px 0 50px;
font-size: 30px;
color: rgb(245, 241, 241);}

#sidepanel{
    float: right;
    color: white;
    font-size: 12px;

}
.btn{background-color: rgb(69, 77, 124);
color: rgb(223, 209, 209);
width: 100px;
line-height: 40px;
text-align: center;
cursor: pointer;
}

ul li{list-style-type: none;}
ul li ul li{list-style-type: none;}

.menu {display: flex;
flex-wrap: wrap;
width: 100%;
padding-top: 50px;

}
  .pics:first-child {
    width: calc(50% - 20px)
  }
  .pics:last-child {
    width: calc(50% - 20px)
  }
  .pics {
    height: 500px;
    width: calc(24% - 20px);
    padding:10px;
  }











f

